doctype html
html(lang='en')
  head
    title {{ .name }}
  body
    h1 {{ .name }}
    h2 {{ .date }}
    div.contents
      p Variety: {{ .variety }}
      p Topping: {{ .topping }}
      p Flavour: {{ .flavour }}
